:root {
  --nav: linear-gradient(33deg, rgba(242, 242, 255, 1) 0%, rgba(235, 249, 255, 1) 100%);
  --background: #e6e8f2;
  --primary: #6f34fe;
  --secondary: #fca61f;
  --text-primary: #3f396f;
  --text-secondary: #7d7789;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.h-650 {
  height: 650px;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33%;
}

/* Navbar */

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--nav);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left-logo img{
  width: 9rem;
  mix-blend-mode: multiply;
}

.navbar-right {
  display: flex;
  list-style-type: none;
}

.navbar-right li a {
  text-decoration: none;
  color: #000;
  font-weight: 450;
  font-size: 1.25rem;
  padding: 0 1rem;
}

.navbar-right li a:hover {
  color: var(--secondary);
}

.toggle {
  display: none;
}

/* Header */

header {
  background: var(--nav);
  padding-top: 7rem;
  height: 100vh;
  width: 100vw;
}

.header-content {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: var(--primary);
}

.header-section h1{
  font-size: 5.313rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

img {
  mix-blend-mode: multiply;
}

.header-section h2 {
  color: #3f396f;
  font-weight: 600;
  font-size: 3.25rem;
  margin-bottom: 0.6rem;
  line-height: 3.3rem;
}

.header-section p {
  font-size: 1.35rem;
  line-height: 2rem;
  color: #7d7789;
  margin-bottom: 1.6rem;
  font-family: 'Lato', sans-serif;
}

.btn {
  outline: none;
  border: none;
  color: #000;
  text-decoration: none;
}

.btn-outline {
  background-color: #fca61f;
  padding: 20px 58px 19px;
  color: #fff;
  font-size: 1.25rem;
  display: inline-block;
  border-radius: 35px;
  line-height: 20px;
  box-shadow: 0 0 85px 0 #e9eefc;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.btn-outline:hover {
  background-color: var(--primary);
}

.header-image {
  width: 84vh;
  animation: right-mover 1s ease-in-out infinite alternate;
}

@keyframes right-mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 768px) {
  .header-image {
    display: none;
  }

  .header-content {
    justify-content: center;
  }
}

/* About */
.about {
  width: 100%;
  background: #fff;
  padding: 100px 0;
}

.common {
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

.about-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--primary);
}

.about img{
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .about-image {
    width: 100%;
    height: 100%;
  }
}

.underline-border {
  background: var(--secondary);
  height: 3px;
  width: 100px;
  margin: 30px auto;
}

.about-info {
  color: #000;
}

.about-info h1 {
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: var(--text-primary);
}

.about-info p {
  font-size: 1.125rem;
  line-height: 1.3;
  color: var(--text-secondary);
}

.about-buttons {
  margin-top: 2rem;
}

.about-btn-outline {
  background-color: var(--secondary);
  padding: 20px 30px 19px;
  color: #fff;
  font-size: 1.25rem;
  display: inline-block;
  border-radius: 35px;
  line-height: 1.25rem;
  box-shadow: 0 0 85px 0 #e9eefc;
  transition: all 0.3s;
}

.about-btn-outline:hover {
  background-color: var(--primary);
}

/* Projects */
.projects {
  padding: 100px 0;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
  align-content: center;
}

.card {
  border-radius: 5%;
  /* box-shadow: 10px 5px 5px #888888; */
  box-shadow: 0 0 50px #ccc;
}

.card-body {
  margin-top: 1rem;
  text-align: center;
}

.card-body p {
  color: var(--text-secondary);
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-primary);
}

.card-text {
  font-weight: bold;
  padding: 0.4rem;
}

.card img {
  width: 100%;
  height: auto;
  max-height: 18rem;
  border-radius: 5%;
}

.btn-dark {
  background-color: var(--secondary);
  padding: 1rem 1rem;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  border-radius: 35px;
  line-height: 20px;
  box-shadow: 0 0 85px 0 #e9eefc;
  border: 1px solid transparent;
  transition: all 0.3s;
  margin: 1rem;
}

.btn-dark:hover {
  background-color: var(--primary);
  transition: all 0.3s;
}

/* Footer */

.footer {
  width: 100%;
  padding-top: 1rem;
  background-color: var(--background);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link {
  font-size: 2.8rem;
  color: #6083b3;
  margin: 2%;
}

.footer-link:hover {
  color: #152783;
}

/* Responsive CSS */

.toggle {
  position: fixed;
  top: 20px;
  right: 25px;
  background: var(--primary);
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

@media (max-width: 765px) {
  .container {
    width: 100%;
    padding: 0 50px;
  }

  .col-6 {
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  .navbar-right {
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: #b7e1e4;
    position: fixed;
    top: 0;
    left: 0;
  }

  .navbar-right li a {
    display: block;
    padding: 20px 0;
    font-size: 0.875rem;
  }

  .toggle {
    display: flex;
  }

  .header-section p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
  }

  .header-section h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .common {
    width: 100%;
  }

  .h-650 {
    height: auto;
  }
}